DATA **STRUCTURE**

  1. What are data structures, and why are they important?
     - data structure>way of organizing and storing data so that it can be acccessed and manipulated effeciently
  2. Explain the difference between mutable and immutable data types with examples?
     -mutable data types can be modify values like list, sets,dist.
     list = [1,2,3,4]
     list = list[0] = 100 can be modify
     immutable data types can not modify like tupes
     t = (1,2,3,4)
     t = t(0) = 100 can not modify
  3. What are the main differences between lists and tuples in Python?
     - lists is modify and tuples are not modify.
  4.  Describe how dictionaries store data?
      - Dictionaries which stores the data in the form of key value pair.
  5. Why might you use a set instead of a list in Python?
     -  sets are no take duplicates value in lists.
  6.  What is a string in Python, and how is it different from a list?
     - string is sequence of data his represent manipulagting character of data
     list are ordered collection of items.
  7. How do tuples ensure data integrity in Python?
     - Because tupes are immutable once data store they cannot change data value that called tuples integrity in python.
  8.   What is a hash table, and how does it relate to dictionaries in Python?
      - A hash table is a data structure that allows you to store a collection of key-value pairs.
  9. Can lists contain different data types in Python?
      -  a list can also contain a mix of Python types including strings, floats, and booleans.
  10.  Explain why strings are immutable in Python?
      - because strings behave like a tuples.
  11.  What advantages do dictionaries offer over lists for certain tasks?

      - Due to the above difference between lists and dictionaries getting the elements from the list data structure is more complex when compared to dictionaries. So it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.
  12. Describe a scenario where using a tuple would be preferable over a list?    
      - Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists.
   13.  How do sets handle duplicate values in Python?
      -  Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered.
   14.    How does the “in” keyword work differently for lists and dictionaries?      
      -  dictionary values can be duplicated like a list.
      list can be taken milk in list but dictionary cannot take in because his take key values.
    15.  Can you modify the elements of a tuple? Explain why or why not?
       - no tuples can not modifye ones created, tuple are unmutable.
     16.  What is a nested dictionary, and give an example of its use case?  
       - In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary.

    17.  Describe the time complexity of accessing elements in a dictionary?
      - he time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.
       like = {'a': 1, 'b': 2,}
       val =  like['b]
       print(value)
       2
    18.  In what situations are lists preferred over dictionaries?
       - dictionaries For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.
    19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
       - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.
    20. P Explain the difference between a list and a dictionary in terms of data retrieval.
       - A list refers to a collection of various index value pairs like that in the case of an array in C++. A dictionary refers to a hashed structure of various pairs of keys and values



> Add blockquote

In [2]:
name  = ("deepak")
print(name)

deepak

In [3]:
type(name)

str

In [4]:
name = "hello world"
len(name)

11

# Write a code to slice the first 3 characters from the string "Python Programming"

In [1]:
name = "deepak"
name[0:3]

'dee'

 Write a code to convert the string "hello" to uppercase?

In [2]:
name = "hello"
name.upper()

'HELLO'

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [3]:
fruit = "I like apple"
fruit.replace("apple","orange")

'I like orange'

Write a code to create a list with numbers 1 to 5 and print it?

In [4]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [10]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [1]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [4]:
lis = ['a','b'],['c','d']
lis[0][1]

'b'

 Write a code to reverse the list [10, 20, 30, 40, 50].

In [8]:
code =  [10, 20, 30, 40, 50]
code.reverse()
print(code)

[50, 40, 30, 20, 10]

 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [9]:
code = (100,200,300)
print(code)

(100, 200, 300)

In [10]:
type(code)

tuple

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
code =  ('red', 'green', 'blue', 'yellow')
code[1:4]

('green', 'blue', 'yellow')

. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
code =  (10, 20, 5, 15)
min(code)

5

. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
fruits = ("apple", "banana", "cherry")
if "kiwi" in fruits:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
  print("no,'kiwi'is not in the fruits")

no,'kiwi'is not in the fruits

. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
s = {'a','b','c'}
print(s)

{'b', 'c', 'a'}

 Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [22]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

 Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [23]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

9. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
s = {1, 2, 3}
s1 = {3, 4, 5}
s.union(s1)

{1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [25]:
s = {1, 2, 3}
s1 = {2, 3, 4}
s.intersection(s1)

{2, 3}

 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [26]:
d = {"name":"deepak","age":22,"city":"patna"}
print(d)

{'name': 'deepak', 'age': 22, 'city': 'patna'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
d = {'name': 'John', 'age': 25}
d['country']= "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [2]:
d = {'name': 'Alice', 'age': 30}
d['name']
#

'Alice'

 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [7]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [8]:
d = {'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
  print("Yes, 'city' is one of the keys in the dictionary")
else:
  print("no,'city' is not one of the keys in the dictionary")

Yes, 'city' is one of the keys in the dictionary

. Write a code to create a list, a tuple, and a dictionary, and print them all

In [9]:
code1 = {'name': 'Alice', 'city': 'Paris'}
code2 = (1,2,3,4)
code3 = [1,2,3,4]
print(code1)
print(code2)
print(code3)

{'name': 'Alice', 'city': 'Paris'}
(1, 2, 3, 4)
[1, 2, 3, 4]

 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [10]:
l = [1,2,3,4,5]
l.sort()
print(l)

[1, 2, 3, 4, 5]

 Write a code to create a list with strings and print the element at the third index.

In [11]:
l = ["ajay","bijay","ramesh","ganesh"]
l[3]

'ganesh'

. Write a code to combine two dictionaries into one and print the result.

In [12]:
d = {'name': 'Alice', 'city': 'Paris'}
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.update(d1)
print(d)

{'name': 'Bob', 'city': 'New York', 'age': 22}

. Write a code to convert a list of strings into a set

In [19]:
l = [1,2,3,4,5,"ajay"]
l = set(l)
print(l)

{1, 2, 3, 4, 5, 'ajay'}